<html>
	<head>
		<script src="../lib/underscore.js"></script>
		<script src="../lib/zepto.js"></script>
		<script src="../lib/backbone.js"></script>
		<script src="../backbone-pages.js"></script>
		<script src="test.js"></script>

		<script id="main-template" type="text/template">
			This is a test
			<div id="view1"></div>
			This is another test
			<div id="view2"></div>
			
			ITEMS
			<br>
			<br>
			<div class="items"></div>
		</script>

		<script id="view1-template" type="text/template">
			This is view 1 content
		</script>

		<script id="view2-template" type="text/template">
			This is view 2 content
		</script>

		<script id="main-items-item-template" type="text/template">
			<%= firstName %> <%= lastName %>
		</script>

		<script id="main-items-empty-template" type="text/template">
			Nothing to see here
		</script>

		<script id="main-items-loading-template" type="text/template">
			Loading...
		</script>
	</head>
	<body>
		<div id="main"></div>
	</body>
</html>
